<settings>
    <generator>
            <scala>100</scala>
            <numberOfThreads>5</numberOfThreads>
    </generator>
    <areaNode>
    	<sensorType>1</sensorType>
    	<!-- 0 = SINGLETRAVELTIME
    	  1 = TOTALTRAVELTIME
    	   2 = AGGTOTALTRAVELTIME -->
    	<multipleNorthBoundQueues>1</multipleNorthBoundQueues>
    	<!-- 0 = false, 1 = true -->
    	<urlIn>tcp://localhost:61616</urlIn>
    	
    	<urlOut>tcp://137.121.170.248:30340</urlOut>
   
    </areaNode>
    <Link>
    	<intervallo>3</intervallo>
        <!-- in minuti -->
    	<startTime>06/09/2018 00:00:00</startTime>
    	<msgType>3</msgType>
    	<!-- 0 = false, 1 = true -->
    </Link>
    <Files>
    	<links>links_test.csv</links>
    	<observations>obs_test.csv</observations>
    </Files>
</settings>